#container {
    position: relative;
    width: 600px;
    height: 600px;
    background: orange;
  }
  
  .child {
    position: absolute;
    width: 100px;
    height: 100px;
  }
  
  #top-left {
    background: red;
    top: 10px;
    left: 10px;
  }
  
  #top-right {
    background: green;
    top: 10px;
    right: 10px;
  }
  #bottom-right {
    background: purple;
    bottom: 10px;
    right: 10px;
  }
  #bottom-left {
    background: black;
    bottom: 10px;
    left: 10px;
  }